@use '../../styles';

.home-page-container {
  @supports not (position: sticky) {
    padding-top: 48px;
  }
}

.header {
  height: 48px;
  width: 100%;
  padding: 0 24px;

  transition: height 0.3s;

  @supports not (position: sticky) {
    position: absolute;
  }

  position: sticky;
  top: 0;
  left: 0;

  background-color: #fff;
  box-shadow: rgba(styles.$color-secondary, 0.16) 0px 3px 3px,
    rgba(styles.$color-secondary, 0.23) 0px 1px 6px;

  & > div {
    height: 100%;

    position: relative;
  }

  &.open {
    height: calc(100% - 100px);
    position: fixed;

    z-index: 10;

    .bars-icon {
      rotate: 180deg;
    }
  }

  .bars-icon {
    height: 24px;
    width: 24px;
    padding: 8px;
    border-radius: 100%;

    transition: rotate 0.3s;

    position: absolute;
    left: calc(50% - 20px);

    top: calc(100% - 24px);

    background-color: #fff;
    box-shadow: rgba(styles.$color-secondary, 0.16) 0px 3px 3px,
      rgba(styles.$color-secondary, 0.23) 0px 1px 6px;
    color: styles.$color-secondary;

    cursor: pointer;
  }
}

.subtiltle-page {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 35px;

  p {
    font-weight: bold;
    font-size: 2rem;
    color: styles.$color-secondary;
    text-align: center;
  }
}

.inventories-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  align-items: center;

  height: 100%;

  margin-top: 32px;
  height: 100%;
  flex-shrink: 1;

  .sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    p {
      font-weight: bold;
      font-size: 1.4rem;
      color: styles.$color-secondary;
      text-align: center;
    }

    .actions {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      gap: 24px;

      button {
        margin-top: 10px;
        height: 40px;
      }
    }

    .form-invcod {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      label {
        font-weight: bold;
        font-size: 1.4rem;
        color: styles.$color-secondary;
        text-align: center;
      }

      input {
        height: 35px;
        width: 250px;
      }
    }
  }
}
