@use '../../styles';

.subtitle-page {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 35px;

  font-weight: bold;
  font-size: 2rem;
  color: styles.$color-secondary;
  text-align: center;
}

.button-iniciar-inventario {
  width: 100%;
  max-width: 200px;

  margin: auto;

  margin-bottom: 16px;
}

.rooms-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  flex-grow: 1;

  gap: 24px;

  padding-bottom: 48px;

  p {
    font-weight: bold;
    font-size: 1.4rem;
    color: styles.$color-secondary;
    text-align: center;
  }

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 24px;

    button {
      margin-top: 24px;
      height: 40px;
    }

    .select-style {
      width: 200px;
    }
  }
}
